@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<div class="alert alert-info">
    <p>Tên SV: Nguyễn Ngọc Hiếu</p>
    <p>Mã SV: 2310900037</p>
    <p>Email: sthieu14092005@gmail</p>
    <p>Ngày sinh: 14/09/2005</p>
    <p>Số điện thoại: 0966140905</p>
    <p>Email: sthieu14092005@gmail.com</p>
    <p>Lớp: K23CNT1</p>
</div>


<h1>@ViewData["Title"]</h1>

